.banner {
	border-bottom-style:solid;
    border-bottom-width:5px;	
}

a:link.no-decor,a:visited.no-decor {
	text-decoration:none;
	color:#000;
}

ul.linklist {
    list-style-type: none;
}

li {
	padding:1px 0px;
}

#main {
   margin: 50px;
}

#content {
   padding: 20px 0px;	
   max-width: 600px;
   font-size: 15px;
}
